#about {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $white-color;
  padding: 8rem 0 12rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: $white-color;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
  }

  .section-title {
    color: $white-color;
  }

  .about-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;

    &__info {
      max-width: 800px;
      text-align: center;

      &-text {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: 2rem;

        strong {
          color: #ffd700;
        }

        @include respond(phone) {
          font-size: 1.6rem;
        }
      }
    }

    &__cta {
      display: inline-block;
      margin-top: 2rem;

      .cta-btn--resume {
        i {
          margin-right: 0.8rem;
        }
      }
    }
  }
}